body {
  margin: 0;
}

* {
  box-sizing: border-box;
  // 统一字体
  font-family: Arial, sans-serif;
  // 去掉router-link下划线
  a.router-link-active,
  a.router-link-exact-active {
    text-decoration: none;
  }
}

.el-message {
  // min-width: 380px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #ebeef5;
  position: fixed;
  left: 50%;
  top: 20px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #edf2fc;
  -webkit-transition:
    opacity 0.3s,
    -webkit-transform 0.4s;
  transition:
    opacity 0.3s,
    -webkit-transform 0.4s;
  transition:
    opacity 0.3s,
    transform 0.4s;
  transition:
    opacity 0.3s,
    transform 0.4s,
    -webkit-transform 0.4s;
  overflow: hidden;
  padding: 15px 15px 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 2000;
}

/* 消息内容样式 */
.el-message__content {
  padding: 0;
  font-size: 14px;
  line-height: 1;
  color: #909399;
  margin: 0 10px;
}

/* 消息图标样式 */
.el-message__icon {
  height: 16px;
  width: 16px;
  font-size: 16px;
}

/* 成功消息样式 */
.el-message--success {
  background-color: #f0f9eb;
  border-color: #e1f3d8;
}

.el-message--success .el-message__content {
  color: #67c23a;
}

.el-message--success .el-message__icon {
  color: #67c23a;
}

/* 错误消息样式 */
.el-message--error {
  background-color: #fef0f0;
  border-color: #fde2e2;
}

.el-message--error .el-message__content {
  color: #f56c6c;
}

.el-message--error .el-message__icon {
  color: #f56c6c;
}

/* 消息动画 - 进入 */
.el-message-fade-enter-from {
  opacity: 0;
  -webkit-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
}

.el-message-fade-enter-active {
  -webkit-transition:
    opacity 0.3s,
    -webkit-transform 0.4s;
  transition:
    opacity 0.3s,
    -webkit-transform 0.4s;
  transition:
    opacity 0.3s,
    transform 0.4s;
  transition:
    opacity 0.3s,
    transform 0.4s,
    -webkit-transform 0.4s;
}

/* 消息动画 - 离开 */
.el-message-fade-leave-to {
  opacity: 0;
}

.el-message-fade-leave-active {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
