body {
  margin: 0;
}

* {
  box-sizing: border-box;
  // 统一字体
  font-family: Arial, sans-serif;
  // 去掉router-link下划线
  a.router-link-active,
  a.router-link-exact-active {
    text-decoration: none;
  }
}

.el-message {
  // min-width: 380px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #ebeef5;
  position: fixed;
  left: 50%;
  top: 20px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #edf2fc;
  -webkit-transition:
    opacity 0.3s,
    -webkit-transform 0.4s;
  transition:
    opacity 0.3s,
    -webkit-transform 0.4s;
  transition:
    opacity 0.3s,
    transform 0.4s;
  transition:
    opacity 0.3s,
    transform 0.4s,
    -webkit-transform 0.4s;
  overflow: hidden;
  padding: 15px 15px 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 2000;
}

/* 消息内容样式 */
.el-message__content {
  padding: 0;
  font-size: 14px;
  line-height: 1;
  color: #909399;
  margin: 0 10px;
}

/* 消息图标样式 */
.el-message__icon {
  height: 16px;
  width: 16px;
  font-size: 16px;
}

/* 成功消息样式 */
.el-message--success {
  background-color: #f0f9eb;
  border-color: #e1f3d8;
}

.el-message--success .el-message__content {
  color: #67c23a;
}

.el-message--success .el-message__icon {
  color: #67c23a;
}

/* 错误消息样式 */
.el-message--error {
  background-color: #fef0f0;
  border-color: #fde2e2;
}

.el-message--error .el-message__content {
  color: #f56c6c;
}

.el-message--error .el-message__icon {
  color: #f56c6c;
}

/* 消息动画 - 进入 */
.el-message-fade-enter-from {
  opacity: 0;
  -webkit-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
}

.el-message-fade-enter-active {
  -webkit-transition:
    opacity 0.3s,
    -webkit-transform 0.4s;
  transition:
    opacity 0.3s,
    -webkit-transform 0.4s;
  transition:
    opacity 0.3s,
    transform 0.4s;
  transition:
    opacity 0.3s,
    transform 0.4s,
    -webkit-transform 0.4s;
}

/* 消息动画 - 离开 */
.el-message-fade-leave-to {
  opacity: 0;
}

.el-message-fade-leave-active {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

/* 输入框聚焦样式 */
.el-select__wrapper {
  &.is-focused {
    box-shadow: 0 0 0 1px #bc0000 inset !important;
    border-color: #bc0000 !important;
  }
}

/* 下拉菜单中的树节点样式 */
.el-tree {
  /* 节点悬停 */
  .el-tree-node__content:hover {
    background-color: #feeaea !important; // 浅红色背景
  }

  /* 选中节点 */
  .el-tree-node.is-current > .el-tree-node__content {
    background-color: #feeaea !important;
    color: #bc0000 !important;
    font-weight: bold;
  }
}

/* 自定义下拉选择器样式 */

/* 输入框聚焦 */
.el-select__wrapper {
  &.is-focused {
    box-shadow: 0 0 0 1px #bc0000 inset !important;
    border-color: #bc0000 !important;
  }
}

/* 下拉菜单 */
.el-select-dropdown {
  /* 选项悬停 */
  .el-select-dropdown__item:hover {
    background-color: #feeaea !important;
  }

  /* 选中选项 */
  .el-select-dropdown__item.selected {
    color: #bc0000 !important;
    font-weight: bold;
    background-color: #feeaea !important;
  }
  /* 选项被选中时的样式（即使没有hover） */
  .el-select-dropdown__item.is-selected {
    color: #bc0000 !important;
  }
}

/* 输入框悬停状态 */
.el-input__wrapper:hover {
  box-shadow: 0 0 0 1px #bc0000 inset !important;
}

/* 输入框聚焦状态 */
.el-input__wrapper.is-focus {
  box-shadow: 0 0 0 1px #bc0000 inset !important;
  border-color: #bc0000 !important;
}

.el-form-item {
  .el-input {
    --el-input-focus-border-color: #bc000062;
  }
  .el-radio.is-bordered.is-checked {
    border-color: #bc000062;
  }
  .el-radio__input.is-checked .el-radio__inner {
    background: #bc0000a8;
    border-color: #bc0000a8;
  }
  .el-radio__input.is-checked + .el-radio__label {
    color: #bc0000a8;
  }
  .el-input-number__decrease:hover {
    color: #bc0000a8;
  }
  .el-input-number__increase:hover {
    color: #bc0000a8;
  }
  .el-select__wrapper.is-focused {
    box-shadow: 0 0 0 1px #bc000062 inset;
  }
}
.el-form-item--small {
  margin-bottom: 20px;
}

// 文件上传
.el-upload {
  --el-upload-dragger-padding-horizontal: 30px;
  &:hover {
    color: #d9001b;
    .el-upload-dragger {
      border-color: #d9001b;
      .upload-icon {
        color: #d9001b;
      }
      .upload-text {
        color: #d9001b;
      }
    }
  }
}

.el-upload:focus {
  .el-upload-dragger {
    border-color: #d9001b;
  }
}

//时间选择
.el-date-editor.el-input {
  height: 25px;
  width: 255px;
}

.el-input__wrapper {
  .is-focus {
    box-shadow: 0 0 0 1px #bc0000 inset !important;
  }
  &:hover {
    box-shadow: 0 0 0 1px #bc0000 inset !important;
  }
}

.el-date-picker__header-label {
  &:hover {
    color: #bc0000 !important;
  }
  &:focus-visible {
    color: #bc0000 !important;
  }
  &.active {
    color: #bc0000 !important;
  }
}

.el-date-table {
  .el-date-table__row {
    &:hover {
      td.available:hover {
        color: #bc0000 !important;
      }
    }
  }
  td {
    &.current:not(.disabled) span {
      background-color: #bc0000 !important;
      color: white;
    }
    &.today {
      .el-date-table-cell__text {
        color: #bc0000 !important;
      }
    }
  }
}

// .el-month-table {
//   td {
//     &.today {
//       .el-date-table-cell__text {
//         background-color: #bc0000 !important;
//       }
//     }
//     .el-date-table-cell__text {
//       &:hover {
//         color: #bc0000 !important;
//       }
//     }
//   }
// }

// .el-year-table {
//   td {
//     &.today {
//       .el-date-table-cell__text {
//         background-color: #bc0000 !important;
//       }
//     }
//     .el-date-table-cell__text {
//       &:hover {
//         color: #bc0000 !important;
//       }
//     }
//   }
// }
