@font-face {
  font-family: 'iconfont'; /* Project id 4998547 */
  src:
    url('./iconfont.woff2') format('woff2'),
    url('./iconfont.woff') format('woff'),
    url('./iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shenheshangchuan:before {
  content: '\e600';
}

.icon-xinxi:before {
  content: '\e616';
}

.icon-send:before {
  content: '\e893';
}

.icon-dangjianfengcai:before {
  content: '\e7b7';
}

.icon-guanliyuan:before {
  content: '\e6d0';
}

.icon-chakan:before {
  content: '\e642';
}

.icon-lishi:before {
  content: '\e61a';
}

.icon-zhuangtaixiugai:before {
  content: '\e644';
}

.icon-upload-file-template:before {
  content: '\ea25';
}

.icon-meiyuezongjie:before {
  content: '\e652';
}

.icon-renyuanguanli:before {
  content: '\e606';
}

.icon-tanxintanhua:before {
  content: '\e63b';
}

.icon-tianjiaguanliyuan:before {
  content: '\e9d6';
}

.icon-zuzhishenghuohui:before {
  content: '\ea26';
}

.icon-wenjianguanli:before {
  content: '\e68f';
}

.icon-xiaoxi:before {
  content: '\e604';
}

.icon-guanliyuanshenfen:before {
  content: '\e62c';
}

.icon-renyuanchakan:before {
  content: '\e621';
}

.icon-xuesheng:before {
  content: '\e63a';
}

.icon-exit-full:before {
  content: '\e97f';
}

.icon-zhibujianshe:before {
  content: '\e603';
}
