:root {
  --el-color-primary: #bc0000;
  --el-color-primary-light-3: #C62424;
  --el-color-primary-light-5: #D14949;
  --el-color-primary-light-7: #ffbfbf;
  --el-color-primary-light-9: #ffe2e2;
  --el-color-primary-light-11: #fff4f4;
  --el-color-primary-light-13: #FDF3F3;
  --el-color-primary-dark-2: #990000;
}

.el-pagination {
  --el-color-primary: #bc0000;
}

.el-button,
.el-checkbox,
.el-button--primary,
.el-table .ascending .sort-caret.ascending,
.el-table .descending .sort-caret.descending {
  --el-color-primary: #bc0000;
  --el-color-primary-light-3: #C62424;
  --el-color-primary-light-5: #D14949;
  --el-color-primary-light-7: #ffbfbf;
  --el-color-primary-light-9: #ffe2e2;
  --el-color-primary-light-11: #fff4f4;
  --el-color-primary-light-13: #FDF3F3;
  --el-color-primary-dark-2: #990000;
}

.el-col {
  // 滚动条样式
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #C0C4CC;
    border-radius: 3px;

    &:hover {
      background: #A8ABB2;
    }
  }

  &::-webkit-scrollbar-track {
    background: #F5F7FA;
    border-radius: 4px;
  }
}


.el-sub-menu,
.el-menu-item {
  --el-menu-item-height: 45px;
  --el-menu-sub-item-height: var(--el-menu-item-height);
}

.el-table .ascending .sort-caret.ascending {

    border-bottom-color: var(--el-color-primary);
}
